[submodule "a"]
    path = bundle/a
    url = git://github.com/voithos/a.vim.git

[submodule "colorpack"]
    path = bundle/colorpack
    url = git://github.com/voithos/vim-colorpack.git

[submodule "colors-solarized"]
    path = bundle/colors-solarized
    url = git://github.com/altercation/vim-colors-solarized.git

[submodule "cool-syntax"]
    path = bundle/cool-syntax
    url = git://github.com/vim-scripts/cool.vim.git

[submodule "css3-syntax"]
    path = bundle/css3-syntax
    url = git://github.com/hail2u/vim-css3-syntax.git

[submodule "genutils"]
    path = bundle/genutils
    url = git://github.com/vim-scripts/genutils.git

[submodule "html5"]
    path = bundle/html5
    url = git://github.com/othree/html5.vim.git

[submodule "js-indent"]
    path = bundle/js-indent
    url = git://github.com/vim-scripts/JavaScript-Indent.git

[submodule "matchit"]
    path = bundle/matchit
    url = git://github.com/vim-scripts/matchit.zip.git

[submodule "multiselect"]
    path = bundle/multiselect
    url = git://github.com/voithos/vim-multiselect.git

[submodule "mw-utils"]
    path = bundle/mw-utils
    url = git://github.com/MarcWeber/vim-addon-mw-utils.git

[submodule "nerdcommenter"]
    path = bundle/nerdcommenter
    url = git://github.com/scrooloose/nerdcommenter.git

[submodule "nerdtree"]
    path = bundle/nerdtree
    url = git://github.com/scrooloose/nerdtree.git

[submodule "python-matchit"]
    path = bundle/python-matchit
    url = git://github.com/voithos/vim-python-matchit.git

[submodule "python-syntax"]
    path = bundle/python-syntax
    url = git://github.com/voithos/vim-python-syntax.git

[submodule "ragtag"]
    path = bundle/ragtag
    url = git://github.com/tpope/vim-ragtag.git

[submodule "repeat"]
    path = bundle/repeat
    url = git://github.com/tpope/vim-repeat.git

[submodule "snipmate"]
    path = bundle/snipmate
    url = git://github.com/garbas/vim-snipmate.git

[submodule "snipmate-snippets"]
    path = bundle/snipmate-snippets
    url = git://github.com/voithos/snipmate-snippets.git

[submodule "surround"]
    path = bundle/surround
    url = git://github.com/tpope/vim-surround.git

[submodule "taglist"]
    path = bundle/taglist
    url = git://github.com/vim-scripts/taglist.vim.git

[submodule "tlib"]
    path = bundle/tlib
    url = git://github.com/tomtom/tlib_vim.git
